<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.smartsystems.e-learning360">
	<uses-sdk />
	<application android:label="e-Learning360" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>